
@{
    ViewBag.Title = "Registration";
    ViewBag.signin = "active";
}


<div class="registration">
    <a href="/Home/Index" style="cursor:pointer">
        <button class="grad-border close-btn">
            CLOSE
            <div class="close-btn-snt"></div>
        </button>
    </a>
    <form>
        <h1>R E G I S T E R </h1>
        <input type="text" name="" placeholder="Username">
        <input type="text" name="" placeholder="Email">
        <input type="password" name="" placeholder="Password">
        <button class="log-in">Register</button><br>
        <button class="fb-btn">Sign up with Facebook</button>
        <a href="/Account/SignIn" class="reg-now">Sign In</a>
    </form>
</div>

