
@{
    ViewBag.Title = "SignIn";
    ViewBag.signin = "active";
}


<div class="registration">
    <a href="/Homr/Index" style="cursor:pointer;">
        <button class="grad-border close-btn">
            CLOSE
            <div class="close-btn-snt"></div>
        </button>
    </a>
    <form>
        <h1>S I G N &nbsp &nbsp I N</h1>
        <input type="text" name="" placeholder="Email">
        <input type="password" name="" placeholder="Password">
        <button class="log-in">Sign In</button><br>
        <button class="fb-btn">Sign in with Facebook</button>
        <a href="/Account/Registration" class="reg-now">Register now</a>
    </form>
</div>